.button-container {
  margin-top: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.button-confirm {
  width: 100%;
  padding: 14px;
  margin: 10px 0px;
  border: none;
  border-radius: 4px;
  background: #7477BF;
  color: white;
}

.button-cancel {
  width: 100%;
  padding: 14px;
  margin: 10px 0px;
  border: none;
  border-radius: 4px;
  background: #a5a5a5;
  color: white;
}

.two-button .button-confirm {
  width: 48%;
}

.two-button .button-cancel {
  width: 48%;
}