/* user activity cells */

.cell-user-activity {
  min-height: 76px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.cell-user-activity:last-of-type {
  border-bottom: none;
}

.cell-user-activity img:nth-of-type(1) {
  height: 40px;
  border-radius: 100%;
  margin-left: 4px;
  margin-right: 14px;
}

.cell-user-activity img:nth-of-type(2) {
  height: 20px;
  margin-left: auto;
}

@media (min-width: 768px) {
  
  .cell-user-actvivity img:nth-of-type(2) {
    margin-right: 20px;
  }
}

.cell-user-activity p {
  font-size: .9em;
  margin: 4px 0px;
}

.cell-user-activity .action {
  margin-left: auto;
}

/* social stats cells */

.cell-social-stats {
  width: 26%;
  min-width: 240px;
  min-height: 100px;
  background: #f8f8f8;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.cell-social-stats:last-of-type {
  margin-bottom: 0px;
}

@media (min-width: 1024px) {
  
  .cell-social-stats {
    margin-bottom: 0px;
  }
}

.social-icon-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7477BF;
  margin: 0px 20px;
  text-align: center;
  display: flex;
}

.social-icon-container svg {
  display: block;
  margin: auto;
  width: 50%;
}

.social-icon {
  fill: #ffffff;
}

.cell-social-stats h2 {
  margin: 4px 0px;
  font-size: 0.9em;
  color: #7477BF;
}

.cell-social-stats h3 {
  margin: 4px 0px;
  font-size: 2.2em;
  color: #3b3b3b;
  font-weight: lighter;
}

.social-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0px;
}

@media (min-width: 1024px) {
  
  .social-stats-container {
    flex-direction: row;
  }
}

/* notification bar */

.notification-bar {
  background-color: #7377BF;
  border-radius: 4px;
  margin: 24px;
  display: flex;
  min-height: 44px;
  align-items: center;
}

.notification-bar p {
  color: #ffffff;
  padding: 10px;
  margin: 0px;
  margin-left: 10px;
}

.notification-bar img {
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
}

.notification-bar img:hover {
  cursor: pointer;
}