input,
textarea {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px;
  outline: none;
  resize: none;
}

select {
  border-radius: 4px;
  border: 1px solid lightgrey;
  height: 40px;
  padding: 10px;
  margin: 20px 0px;
  outline: none;
  resize: none;
  font-size: 0.9em;
}

.form-toggle {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.form-toggle p {
  margin-right: auto;
}

.switch-ios {
  width: 100px;
}

/* ios switch theme customistion */
.switch-ios.switch-light span span {
  color: #888b92;
}

.switch-ios.switch-light a {
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 100%;
  border: 0.25em solid #D8D9DB;
  transition: all .2s ease-out;
  box-shadow: inset 0 0 0 2px #C0C1CC;
}

.switch-ios.switch-light>span {
  display: block;
  width: 100%;
  height: 2em;
  background-color: #D8D9DB;
  border-radius: 1.75em;
  transition: all .4s ease-out;
}

.switch-ios.switch-light>span span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  line-height: 1.875em;
  vertical-align: middle;
  transition: all .2s ease-out;
}

.switch-ios.switch-light>span span:first-of-type {
  opacity: 1;
  padding-left: 1.875em;
}

.switch-ios.switch-light>span span:last-of-type {
  padding-right: 1.875em;
}

.switch-ios.switch-light input:checked~span a {
  left: 100%;
  border-color:#7479BB;
  margin-left: -2em;
}

.switch-ios.switch-light input:checked~span {
  /* border-color: #7479BB; */
  box-shadow:  0 0 0 2px #C0C1CC, inset 0 0 0 28px #7479BB;
}

.switch-ios.switch-light input:checked~span span:first-of-type {
  opacity: 0;
}

.switch-ios.switch-light input:checked~span span:last-of-type {
  opacity: 1;
  color: #fff;
}

.switch-ios.switch-toggle {
  background-color: #D8D9DB;
  border-radius: 30px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
}

.switch-ios.switch-toggle a {
  background-color: #D8D9DB;
  border: 0.125em solid #D8D9DB;
  border-radius: 1.75em;
  transition: all 0.12s ease-out;
}

.switch-ios.switch-toggle label {
  height: 2.4em;
  color: #888b92;
  line-height: 2.4em;
  vertical-align: middle;
}

.switch-ios input:checked+label {
  color: #3e4043;
}

/* autocomplete */

.autocomplete {
	position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: #7479BB; 
  color: #ffffff; 
}