.widget-title-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.widget-title-controls h3 {
  margin-top: 0px;
  margin-right: auto;
}

.chart-controls {
  list-style: none;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 500px) {
  
  .widget-title-controls {
    flex-direction: row;
  }

  .widget-title-controls h3 {
    margin-bottom: 0px;
  }

  .chart-controls {
    margin-left: auto;
  }
}

.chart-controls li {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 14px;
  padding: 6px 12px;
  margin: 0px 10px; 
  border: 1px solid #ffffff;
}

.chart-controls li:hover {
  cursor: pointer;
  border: 1px solid #81C98F;
}

.not-selected {
  color: #81C98F;
  background-color: #ffffff;
}

.selected {
  color: #ffffff;
  background-color: #81C98F;
}