.notification-bell:hover {
  cursor: pointer;
}

.alert-container {
  display: none;
  position: absolute;
  top: 65px;
  right: 150px;
  background: #f8f8f8;
  min-width: 400px;
  max-width: 420px;
  z-index: 2000;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.08);
}

.alert-title {
  display: block;
  color: #666666;
  background: #fff;
  font-size: 1em;
  padding: 14px 20px;
  line-height: 20px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.alert-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.alert-list li {
  min-height: 76px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.alert-list li:last-of-type {
  border-bottom: none;
}

.alert-list li img {
  height: 40px;
  border-radius: 100%;
  margin-left: 14px;
  margin-right: 14px;
}

.alert-list li p {
  font-size: .9em;
  margin: 4px 0px;
  color: darkgrey;
}