.widget-container {
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.widget-container:first-of-type {
  border-top: none;
}

@media (min-width: 768px) {
  
  .chart-container {
    padding: 20px;
  }
}

canvas {
  margin-top: 10px;
  max-width: 100%;
}

#dashboard-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#dashboard-header h2 {
  margin: 20px auto;
}

@media (min-width: 768px) {
  
  #dashboard-header {
    flex-direction: row;
  }

  #dashboard-header h2 {
    margin: 20px 40px;
  }
}

.header-search {
  background: #f0f0f0;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-search input {
  margin: 12px 24px 12px 24px;
  max-height: 44px;
  max-width: 400px;
}